<!DOCTYPE html>
<html>
<head>
    <title>Mareko</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
    
    <script src="./assets/lib/seedrandom.min.js"></script>
    
    <link href="./style.css" rel="stylesheet">
    <script src="./utils.js"></script>
    <script src="./socket-manager.js"></script>
</head>
<body>
    <div id="app" mousemove="alert(1)">
        <widget-arrow :data="arrow" :width="100" :minlength="260"></widget-arrow>

        <page name="init" :active="page">
            {{ lang.connecting1 }}<br>
            {{ lang.connecting2 }}
        </page>
        <page name="recon" :active="page">
            {{ lang.recon1 }}<br>
            {{ lang.recon2 }}
        </page>
        <page name="main-menu" :active="page">
            {{ lang.yourname }} <input type="text" v-model="self.name"><br>
            <br>
            <button @click="newGame()" v-html="lang.newgame"></button><br>
            <input type="text" v-model="menu.joingame"><button @click="joinGame()" v-html="lang.joingame"></button><br>
        </page>
        <page name="game-lobby" :active="page">
            {{ lang.inlobby }} ({{ game.token }})<br>
            {{ lang.players }} {{ game.players.length }} / {{ game.maxPlayers }}<br>
            <p v-for="pl of game.players" :key="pl.uuid" v-html="pl.name + (pl.uuid == game.leader ? '👑' : '')"></p><br>
            <button @click="startGame()" :disabled="!isSelfLeader" v-html="lang.start"></button>
        </page>
        <page name="game-done" :active="page">
            {{ lang.gamedone1 }}<br>
            {{ lang.gamedone2 }}
        </page>
        <page name="game-running" :active="page" :game="game" :self="self">
            <panel name="marks" :state="panelArrangements[game.state] && panelArrangements[game.state].marks" :game="game" :self="self">
                <div id="marks-container">
                    <badge v-for="(m, i) of game.pocket" :key="i" :obj="m" :index="i" :draggable="true" :pickable="false" :game="game" :self="self"></badge>
                </div>
                <div id="marks-crafter">
                    <div id="frame">
                        <div v-for="i of game.upgrades.crafter" :key="i" class="mark-slot" :id="i-1"></div>
                        <button onclick="useCrafter()" v-html="lang.craft"></button>
                    </div>
                    <button id="planning-ready" onclick="planningReady()" v-html="lang.ready"></button>
                </div>
            </panel>
            <panel name="deck" :state="panelArrangements[game.state] && panelArrangements[game.state].deck" :game="game" :self="self">
                <div id="cards-container">
                    <card v-for="(m, i) of game.hand" :key="i" :obj="m" :index="i" :game="game" :self="self"></card>
                </div>
                <div id="cards-deck">
                    <div id="row-one" class="cardrow">
                        <div class="card-slot deck-card" v-for="i in game.upgrades.deck" :key="i" :id="i - 1"></div>
                    </div>
                    <div id="row-two" class="cardrow">
                        <div class="card-slot hand-card" v-for="i in game.upgrades.deck" :key="i" :id="i + 9"></div>
                    </div>
                    <div id="row-four" class="cardrow">
                        <div class="card-slot hand-card" v-for="i in game.upgrades.deck" :key="i" :id="i + 19"></div>
                    </div>
                </div>
            </panel>
            <panel name="picking" :state="panelArrangements[game.state] && panelArrangements[game.state].picking" :game="game" :self="self">
                <div id="picking-area">
                    <div id="players">
                        <div v-for="p of game.players" :class="{ player: true, done: game.donePicking.includes(p.uuid) }">
                            <div :class="{ icon: true, picking: p.uuid == game.pickingNow }"></div>
                            <p v-html="p.name"></p>
                        </div>
                    </div>
                    <div id="spawn">
                        <badge v-for="(m, i) of game.spawner" v-if="m" :key="i" :obj="m" :index="i" :draggable="false" :pickable="game.pickingNow == self.uuid" :game="game" :self="self"></badge>
                    </div>
                </div>
                <div id="picking-upgrades">
                    {{ lang.upgrade1 }}<br>
                    {{ lang.upgrade2.replace('%s', game.upgradepoints) }}<br>
                    <button :disabled="game.upgradepoints < Math.pow(2, game.upgrades.picks-1)" onclick="socketSend(PURCHASE_UPGRADE, 'picks')" v-html="lang.upgrade_picks.replace('%s', game.upgrades.picks+1) + ` [${Math.pow(2,game.upgrades.picks-1)}]`"></button>
                    <button :disabled="game.upgradepoints < Math.pow(2, game.upgrades.crafter-1)" onclick="socketSend(PURCHASE_UPGRADE, 'crafter')" v-html="lang.upgrade_crafter.replace('%s', game.upgrades.crafter+1) + ` [${Math.pow(2, game.upgrades.crafter-1)}]`"></button>
                    <button :disabled="game.upgradepoints < Math.pow(2, game.upgrades.deck-1)" onclick="socketSend(PURCHASE_UPGRADE, 'deck')" v-html="lang.upgrade_deck.replace('%s', game.upgrades.deck+1) + ` [${Math.pow(2, game.upgrades.deck-1)}]`"></button>
                    <button :disabled="game.upgradepoints < 1" onclick="socketSend(PURCHASE_UPGRADE, 'heal')" v-html="lang.upgrade_heal + ' [1]'"></button>
                </div>
            </panel>
            <panel name="fighting" :state="panelArrangements[game.state] && panelArrangements[game.state].fighting" :game="game" :self="self">
                <div id="fighting-cards">
                    <p v-html="opponentName" style="position: absolute;"></p>
                    <div id="opponent-row" class="cardrow">
                        <card v-for="(m, i) of game.fight.opponentDeck" :key="i" :obj="m" :index="i" :game="game" :self="self" :infight="true" fraction="opponent"></card>
                    </div>
                    <div id="own-row" class="cardrow">
                        <card v-for="(m, i) of game.fight.ownDeck" :key="i" :obj="m" :index="i" :game="game" :self="self" :infight="true" fraction="own"></card>
                    </div>
                </div>
            </panel>
        </page>
    </div>

    <template id="t-page">
        <div :class="{ page: true, active: active == name }" :id="'page-' + name">
            <slot></slot>
        </div>
    </template>

    <template id="t-panel">
        <div class="panel" :id="'panel-' + name" :state="state">
            <slot></slot>
        </div>
    </template>

    <template id="t-badge">
        <div :class="{ mark: true, draggable: draggable, pickable: pickable }"
             :style="obj.posRel?`left:${obj.posX}%;top:${obj.posY}%;`:`left:${obj.posX}px;top:${obj.posY}px;`"
             :onmousedown="draggable?`dragMark(${index},window.event||arguments.callee.caller.arguments[0])`:''"
             @click="pick">
                <img :src="`./assets/img/mark_${obj.type}.png`" draggable="false"/>
                <p v-html="obj.score"></p>
        </div>
    </template>

    <template id="t-card">
        <div :class="{ 'card': true, 'infight': infight, 'turn': cardsTurn, 'dead': dead }"
             :style="`left:${obj.posX}px;top:${obj.posY}px;`"
             :onmousedown="infight?`selectCard(${index}, '${fraction}')`:`dragCard(${index},window.event||arguments.callee.caller.arguments[0])`">
                <img :src="`./assets/img/cardframe_${obj.type}.png`" draggable="false">
                <p class="hp" v-html="`HP ${obj.hp} / ${obj.maxhp}`"></p>
                <p class="attack" v-html="`ATTACK ${obj.attack}`"></p>
                <p class="name" v-html="`${obj.name}`"></p>
        </div>
    </template>

    <template id="t-widget-arrow">
        <div id="widget-arrow"
             v-if="data.visible"
             :style="`
                width: ${width}px;
                top: ${posY}px;
                left: ${posX}px;
                height: ${length}px;
                transform: rotate(${rot}rad);
             `">
            <div class="tale"></div>
            <div class="body"></div>
            <div class="head"></div>
        </div>
    </template>

    <script src="./controller.js"></script>
    <script src="./game.js"></script>
</body>
</html>