<!DOCTYPE html>
<html>
<head>
    <title>Mareko</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
    
    <script src="./assets/lib/seedrandom.min.js"></script>
    
    <link href="./style.css" rel="stylesheet">
    <script src="./utils.js"></script>
    <script src="./socket-manager.js"></script>
</head>
<body>
    <div id="app" mousemove="alert(1)">
        <page name="init" :active="page">
            Connecting to game server...<br>
            This might take a few seconds.
        </page>
        <page name="recon" :active="page">
            Woopsie Doopsie!<br>
            Connection lost - reconnecting...
        </page>
        <page name="main-menu" :active="page">
            Your Name: <input type="text" v-model="self.name"><br>
            <br>
            <button @click="newGame()">New Game</button><br>
            <input type="text" v-model="menu.joingame"><button @click="joinGame()">Join Game</button><br>
        </page>
        <page name="game-lobby" :active="page">
            In Game Lobby. ({{ game.token }})<br>
            Players: {{ game.players.length }} / {{ game.maxPlayers }}<br>
            <p v-for="pl of game.players" :key="pl.uuid" v-html="pl.name + (pl.uuid == game.leader ? '👑' : '')"></p><br>
            <button @click="startGame()" :disabled="!isSelfLeader">Start</button>
        </page>
        <page name="game-done" :active="page">
            Game's done!<br>
            Hope you had fun!
        </page>
        <page name="game-running" :active="page" :game="game">
            <panel name="marks" :state="panelArrangements[game.state] && panelArrangements[game.state].marks" :game="game">
                <div id="marks-container">
                    <badge v-for="(m, i) of game.pocket" :key="i" :obj="m" :index="i" :draggable="true"></badge>
                </div>
                <div id="marks-crafter">

                </div>
            </panel>
            <panel name="deck" :state="panelArrangements[game.state] && panelArrangements[game.state].deck" :game="game">
                
            </panel>
            <panel name="picking" :state="panelArrangements[game.state] && panelArrangements[game.state].picking" :game="game">
                <div id="picking-area">
                    <div id="players">
                        <div v-for="p of game.players" class="player">
                            <div :class="{ icon: true, picking: p.uuid == game.pickingNow }"></div>
                            <p v-html="p.name"></p>
                        </div>
                    </div>
                    <div id="spawn">
                        <badge v-for="(m, i) of game.spawner" :key="i" :obj="m" :index="i" :draggable="false"></badge>
                    </div>
                </div>
                <div id="picking-upgrades">

                </div>
            </panel>
            <panel name="fighting" :state="panelArrangements[game.state] && panelArrangements[game.state].fighting" :game="game">

            </panel>
        </page>
    </div>

    <template id="t-page">
        <div :class="{ page: true, active: active == name }" :id="'page-' + name">
            <slot></slot>
        </div>
    </template>

    <template id="t-panel">
        <div class="panel" :id="'panel-' + name" :state="state">
            <slot></slot>
        </div>
    </template>

    <template id="t-badge">
        <div :class="{ mark: true, draggable: draggable }"
             :style="obj.posRel?`left:${obj.posX}%;top:${obj.posY}%;`:`left:${obj.posX}px;top:${obj.posY}px;`"
             :onmousedown="draggable?`dragMark(${index},window.event||arguments.callee.caller.arguments[0])`:''">
                <img :src="`./assets/img/mark_${obj.type}.png`" draggable="false"/>
                <p v-html="obj.score"></p>
        </div>
    </template>

    <script src="./controller.js"></script>
    <script src="./game.js"></script>
</body>
</html>