* {
    color: #efefef;
    font-family: 'PT Serif', serif;
    font-size: 16pt;
    text-shadow: 1px 1px 1px #000000cc;
    -moz-user-select: -moz-none;

    --card-width: 150px;
    --card-height: 255px;
}

html, body, #app, .page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
    background: #13171A;
    overflow: hidden;
}

img {
    user-select: none;
    -moz-user-select: -moz-none;
}

.page {
    pointer-events: none;
    opacity: 0;
    transition: .5s ease opacity;
}

.page.active {
    pointer-events: unset;
    opacity: 1;
}

/*
 *
 */

.panel {
    position: absolute;
    margin: 0;
    padding: 0;
    transition: 1s cubic-bezier(0.77, 0, 0.175, 1) all;
}
.panel[state="none"] { pointer-events: none; }

#panel-marks {
    width: calc(20vw + 200px);
    height: 100vh;
    top: 0;
    right: calc(-20vw - 200px);
    background: #13171A;
    z-index: 100;
}
#panel-marks[state="reduced"] { right: -200px; }
#panel-marks[state="full"] { right: 0; }

#panel-deck {
    width: calc(80vw - 200px);
    height: 100vh;
    top: 0;
    left: calc(-80vw + 200px);
    background: darkgray;
    z-index: 90;
}
#panel-deck[state="full"] { left: 0 }

#panel-picking {
    width: 80vw;
    height: 100vh;
    top: 0;
    left: 0;    
    opacity: 0;
    background: transparent;
    z-index: 70;
}
#panel-picking[state="full"] { opacity: 1; }

#panel-fighting {
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: darkred;
    z-index: 80;
}
#panel-fighting[state="full"] { opacity: 1; }

/*
 *
 */

#marks-container {
    display: inline-block;
    height: 100vh;
    width: 20vw;
    margin: 0;
    padding: 0;
}

#marks-crafter {
    height: 100vh;
    width: 200px;
    margin: 0;
    padding: 0;
    float: right;
    background: #00000022;
}

#marks-crafter > #frame {
    width: 120px;
    border: 1px solid orange;
    margin: 50vh 0 0 40px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
}

#marks-crafter > #frame > .mark-slot {
    display: block;
    width: 64px;
    height: 64px;
    margin: 13px;
    background-image: url('./assets/img/mark_slot.png');
}
#marks-crafter > #frame > .mark-slot:first-child { margin-top: 27px; }

#marks-crafter > #frame > button,
#planning-ready {
    display: block;
    transform: translateY(50%);
    padding: 2px 15px;
    background: #101417;
    border: 1px solid orange;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    color: #ababab;
    transition: .3s ease all;
    font-size: 20pt;
}
#marks-crafter > #frame > button:hover { background: #080a0c; color: #efefef; }

#planning-ready {
    margin: auto;
    border-radius: 999px;
}
#planning-ready:disabled {
    opacity: .5;
    cursor: not-allowed;
}

#picking-area {
    display: inline-block;
    height: calc(100% - 200px);
    width: 100%;
    margin: 0;
    padding: 0;
    background: green;
}

#picking-upgrades {
    display: inline-block;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #00000022;
}

#picking-area > #players {
    width: 90%;
    height: 100px;
    margin: 50px 5%;
    display: flex;
    justify-content: space-evenly;
}

#picking-area > #players > .player {
    opacity: 1;
    transition: .3s ease all;
}

#picking-area > #players > .player > .icon {
    display: block;
    background: #777777;
    border: 2px solid transparent;
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

#picking-area > #players > .player > .icon.picking { border: 2px solid orange; }
#picking-area > #players > .player.done { opacity: .5; }

#picking-area > #players > .player > p {
    margin: 0;
    text-align: center;
    transform: translateX(calc(32px - 50%));
}

#picking-area > #spawn {
    height: 40%;
    transform: translateY(calc(20% + 50px));
    background: #00000011;
}

#cards-container,
#cards-deck {
    position: absolute;
    display: inline-block;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

#cards-deck {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardrow {
    width: 100%;
    height: var(--card-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardrow > * { margin: 0 20px; }

#cards-deck > #row-one { padding-bottom: 50px; }

.hand-card { background: #949494 !important; }

.card-slot {
    display: inline-block;
    width: 150px;
    height: 255px;
    padding: 0;
    user-select: none;
    -moz-user-select: -moz-none;
    z-index: 110;
    background: #777777;
    border-radius: 5px;
}

.card {
    display: inline-block;
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: -moz-none;
    cursor: grab;
    z-index: 111;
}
.card.infight {
    position: relative;
    cursor: pointer;
    margin: 0 20px;
}
.card.dead { opacity: .5; }

.card > img {
    width: 100%;
    height: 100%;
}

.card > p {
    position: absolute;
    padding: 0;
    margin: 0;
}

.card > .hp {
    top: 0;
    left: 0;
}

.card > .attack {
    top: 30px;
    left: 0;
}

.card > .name {
    top: 80px;
    left: 0;
}

#fighting-cards {
    width: 100%;
    height: 100%;
}

#fighting-cards > .cardrow { height: 50%; }

#fighting-cards > .cardrow > .card {
    transition: .3s ease-out all;
}

#opponent-row > .turn {
    transform: translateY(20px);
}

#own-row > .turn {
    transform: translateY(-20px);
}


/*
 *
 */

.mark {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: -moz-none;
    cursor: default;
    z-index: 106;
}
.mark:hover { z-index: 107; }
.mark.draggable { cursor: grab; }
.mark.pickable { cursor: pointer; }
.mark.pickable:hover > img { filter: drop-shadow(0 0 4px #fff); }

.mark > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: .2s ease all;
}

.mark > p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    font-size: 32px;
}

/*
 *
 */

#widget-arrow {
    position: absolute;
    transform-origin: 50% 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

#widget-arrow > .head,
#widget-arrow > .tale {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    padding-top: 100%;
    background-position: 50% 50%;
    background-size: cover;
}
#widget-arrow > .head {
    background-image: url('./assets/img/arrow_head.png');
}
#widget-arrow > .tale {
    background-image: url('./assets/img/arrow_tale.png');
}
#widget-arrow > .body {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
    transform: scaleY(1.05);
    background-image: url('./assets/img/arrow_body.png');
}